<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1> <%= name %></h1>
    <% menuItems.forEach((item) => { %>
        <h3> <%= item.name %> for $<%= item.price %></h3>
        <p> <%= item.details %></p>
        <p>Rating: <%= item.rating %></p>
   <% }) %>
</body>
</html>