<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Full Menu</h1>
    <h2>Mains</h2>
    <% menu.forEach((item) => { %>
        <% if (item.category === "mains") {%>
            <h3> <%= item.name %> for $<%= item.price %></h3>
            <p> <%= item.details %></p>
            <p>Rating: <%= item.rating %></p>
            <% } %>
    <% }); %>
    <h2>Dessert</h2>
    <% menu.forEach((item) => { %>
        <% if (item.category === "desserts") {%>
            <h3> <%= item.name %> for $<%= item.price %></h3>
            <p> <%= item.details %></p>
            <p>Rating: <%= item.rating %></p>
            <% } %>
    <% }) %> 
    <h2>Sides</h2>
    <% menu.forEach((item) => { %>
        <% if (item.category === "sides") {%>
            <h3> <%= item.name %> for $<%= item.price %></h3>
            <p> <%= item.details %></p>
            <p>Rating: <%= item.rating %></p>
            <% } %>
    <% }) %> 
</body>
</html>